Options -Indexes

<FilesMatch "^(config\.php|config\.example\.php)$">
  Require all denied
</FilesMatch>

RewriteEngine On
RewriteRule ^(?:data|lib)/ - [F,L]

<Files "event-names.json">
  Require all denied
</Files>
